nav {
    background-image: url(07.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100px;
    margin-top: -7.9px;
    margin-left: -7.7px;
    margin-right: -7.7px;
}

#img1 {
    background-color: rgba(123, 122, 122, 0.752);
    padding: 10px;
    border-radius: 50%;
    margin: 25px;
    animation: animat1 10s infinite;
    cursor: pointer;
}

/* @keyframes animat1 {
    0%{
        background-color: rgb(0, 255, 255);
    }
    25%{
        background-color: darkblue;
    }
    50%{
        background-color: darkgreen;
    }
    75%{
        background-color: darkmagenta;
    }
    100%{
        background-color: lightgreen;
    }
} */
#img2 {
    margin-right: 250px;
    margin-left: 30px;
}

#div2 {
    display: flex;
    margin-top: -40px;
    color: black;
}

#para1 {
    margin-left: 640px;
}

#para2 {
    padding-left: 85px;
}

#para3 {
    padding-left: 50px;
}

#para4 {
    padding-left: 20px;
}

#para5 {
    padding-left: 20px;
}

#div3 {
    min-height: 250px;
    width: 101.2%;
    animation: animate1 30s infinite linear;
    margin-left: -7.7px;
    margin-right: -7.7px;

}

@keyframes animate1 {
    0% {
        background-image: url(09.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    20% {
        background-image: url(08.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    40% {
        background-image: url(10.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    60% {
        background-image: url(11.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    80% {
        background-image: url(12.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    100% {
        background-image: url(13.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

#div4 {
    background-image: url(14.webp);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70px;
    margin-left: -7.7px;
    margin-right: -7.7px;
}

#input1 {
    width: 280px;
    height: 25px;
    margin: 10px;
    margin-left: 30px;
    border-radius: 20px;
    border: 1.5px solid black;
    border-right: none;
    padding-left: 25px;
    margin-top: 20px;
    border-top-right-radius: none;
    border-bottom-right-radius: none;
    box-shadow: 1px 1px 5px black;
}

#para6 {
    margin-top: -40px;
    border: 1.5px solid black;
    width: 100px;
    margin-left: 300px;
    height: 22.5px;
    text-align: center;
    border-radius: 20px;
    padding-top: 5px;
    z-index: 1;
    background-color: orange;
    filter: drop-shadow(1px 1px 2px black);
    position: relative;
    transition: box-shadow 1s, transform 1s, color 1s;
}

#para6:hover {
    transform: scale(1.1);
    box-shadow: 0 0 0 20px skyblue inset;
    color: white;
    cursor: pointer;
}

#anchor1 {
    text-decoration: none;
    color: white;
    margin-top: -40px;
    position: absolute;
    margin-left: 700px;
}

#anchor2 {
    text-decoration: none;
    color: white;
    margin-top: -40px;
    position: absolute;
    margin-left: 840px;
}

#anchor3 {
    text-decoration: none;
    color: white;
    margin-top: -40px;
    position: absolute;
    margin-left: 980px;
}

#extra7 {
    color: white;
    margin-top: -40px;
    position: absolute;
    margin-left: 820px;
}

#extra8 {
    color: white;
    margin-top: -40px;
    position: absolute;
    margin-left: 960px;
}

#main-div {
    display: flex;
    justify-content: space-around;
}

#div5 {
    width: 38%;
    padding: 6px 2px;
    margin: 2px;
    text-decoration: underline blue;
    text-align: center;
    background-color: #bde0fe;
    cursor: auto;
}

#div6 {
    width: 38%;
    padding: 6px 2px;
    margin: 2px;
    text-decoration: underline blue;
    text-align: center;
    background-color: #80ffdb;
    cursor: auto;
}

#div7 {
    width: 21%;
    padding: 6px 2px;
    margin: 2px;
    text-decoration: underline blue;
    text-align: center;
    background-color: #0077b6;
    cursor: auto;
}

#main-div2 {
    display: flex;
    justify-content: space-around;
}

#div5-div1 {
    text-align: center;
    width: 38%;
    border: 1px solid black;
}

#div5-div1-div {
    text-align: left;
}

#div5-div1-div1 {
    background-color: gray;
    padding: 6px 2px;
    margin: 2px;
    color: white;
    margin-top: 5px;
    -webkit-text-stroke: 0.1px rgb(175, 51, 51);
    box-shadow: 1px 1px 5px black;
}

#list1 {
    font-size: 20px;
}

#div6-div1 {
    text-align: center;
    width: 38%;
    border: 1px solid black;
}

#div6-div1-div {
    text-align: left;
}

#div6-div1-div1 {
    background-color: gray;
    padding: 6px 2px;
    margin: 2px;
    color: white;
    margin-top: 5px;
    -webkit-text-stroke: 0.1px rgb(175, 51, 51);
    box-shadow: 1px 1px 5px black;
}

#list2 {
    font-size: 20px;
}

#div7-div1 {
    width: 21%;
    text-align: center;
    /* margin: 0 auto; */
    border: 1px solid black;
}

#div7-div-div1 {
    padding: 6px 2px;
    margin: 2px;
    margin-top: 2px;
}

#extra9 {
    text-align: left !important;
}

#sect1 {
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(to left top, rgb(144, 221, 238), rgba(235, 220, 135, 0.892));
    margin-left: -7.7px;
    margin-right: -7.7px;
}

#list1:hover,
#list2:hover {
    color: rgba(0, 0, 255, 0.569);
    cursor: pointer;
}

#sect2 {
    background-image: url(14.webp);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    margin-left: -7.7px;
    margin-right: -7.7px;
    display: flex;
    justify-content: space-around;
}

#div8 {
    margin-left: 20px;
    padding-top: 20px;
}

#heading1 {
    color: white;
    font-size: 40px;
}

#heading2 {
    color: white;
    font-size: 20px;
}

#anchor4 {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

#anchor5 {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

#anchor6 {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

#anchor7 {
    text-decoration: none;
    font-size: 18px;
    color: white;
}


#extra10 {
    margin-left: 121px;
    margin-top: -9px;
    position: absolute;
}

#extra11 {
    margin-left: 121px;
    margin-top: -9px;
    position: absolute;
}

#div9 {
    margin-left: 20px;
    padding-top: 20px;
}

#anchor8 {
    text-decoration: none;
    color: white;
    font-size: 19px;
}

#anchor9 {
    text-decoration: none;
    color: white;
    font-size: 19px;
}

#anchor10 {
    text-decoration: none;
    color: white;
    font-size: 19px;
}

#extra12 {
    color: white;
    font-size: 19px;
    margin-left: 20px;
    margin-right: 20px;
}

#extra13 {
    color: white;
    font-size: 19px;
    margin-left: 20px;
    margin-right: 20px;
}

#div10 {
    margin-left: 20px;
    padding-top: 100px;
    /* position: absolute; */
}

#icon1 {
    color: white;
    font-size: 25px;
}

#icon2 {
    color: white;
    font-size: 25px;
}

#icon3 {
    color: white;
    font-size: 25px;
}

#extra14 {
    color: white;
    margin-left: 20px;
}

#extra15 {
    color: white;
    margin-left: 20px;
}

#extra16 {
    color: white;
    margin-left: 20px;
}

#button1 {
    background: transparent;
    border: 0.5px solid white;
    padding: 10px;
    border-radius: 7px;
    color: white;
}

#button2 {
    background: transparent;
    border: 0.5px solid white;
    padding: 10px;
    border-radius: 7px;
    color: white;
}

#div11 {
    text-align: center;
}

#img3 {
    margin: 70px;
}

#div12 {
    margin-top: -50px;
}


#anchor11 {
    position: absolute;
    text-decoration: none;
    color: black;
    margin-left: 110px;
}

#anchor12 {
    position: absolute;
    text-decoration: none;
    color: black;
    margin-left: 340px;
}

#anchor13 {
    position: absolute;
    text-decoration: none;
    color: black;
    margin-left: 592px;
}

#anchor14 {
    position: absolute;
    text-decoration: none;
    color: black;
    margin-left: 810px;
}

#anchor15 {
    position: absolute;
    text-decoration: none;
    color: black;
    margin-left: 1000px;
}

#hr1 {
    position: absolute;
    background-color: gray;
    width: 14.1%;
    margin-top: 40px;
    /* height: 1px;  */
    margin-left: 100px;
}

#hr2 {
    position: absolute;
    background-color: gray;
    width: 13%;
    margin-top: 22px;
    /* height: 1px;  */
    margin-left: 328px;
}

#hr3 {
    position: absolute;
    background-color: gray;
    width: 14%;
    margin-top: 22px;
    /* height: 1px;  */
    margin-left: 540px;
}

#hr4 {
    position: absolute;
    background-color: gray;
    width: 13%;
    margin-top: 22px;
    /* height: 1px;  */
    margin-left: 750px;
}

#hr5 {
    position: absolute;
    background-color: gray;
    width: 14%;
    margin-top: 22px;
    /* height: 1px;  */
    margin-left: 970px;
}

#para7{
    margin-top: 50px;
    margin-left: 100px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.545);
}

#para8{
    margin-top: -75px;
    margin-left: 325px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.545);
}

#para9{
    margin-top: -60px;
    margin-left: 540px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.545);
}

#para10{
    margin-top: -55px;
    margin-left: 760px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.545);
}

#para11{
    margin-top: -70px;
    margin-left: 968px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.545);
}

footer{
    background-color: rgba(0, 0, 0, 0.642);
}
#div15{
    padding-top: 20px;
    padding-left: 20px;
    display: flex;

}
#ul3{
    list-style: none;
    color: rgba(255, 255, 255, 0.912);
}

#ul3 h1{
    font-size: 25px;
}

#ul3 li{
    color: #b5b5b5;
    cursor: pointer;
}
#ul3 li:hover{
    cursor: pointer;
}
#div16{
    margin-top: 80px;
    margin-left: 900px;
    position: absolute;
}